/* Google font */
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

/* Root element */
:root {
  --Dark-blue: hsl(218, 44%, 22%);
  --Grayish-blue: hsl(220, 15%, 55%);
  --Light-gray: hsl(212, 45%, 89%);
  --White: hsl(0, 0%, 100%);
}

body {
  align-items: center;
  background-color: var(--Light-gray);
  display: flex;
  flex-direction: column;
  font-family: "Outfit", sans-serif;
  font-size: 16px;
  justify-content: center;
  min-height: 100vh;
}

picture {
  margin: 0 auto;
  padding: 15px;
}

/* Elements */
h1 {
  font-size: 1.1875rem;
  margin: 10px 0;
  padding: 0 22px;
}

p {
  color: var(--Grayish-blue);
  padding: 22px 15px;
  text-align: center;
}
/* All classes */
.container {
  align-items: center;
  background-color: var(--White);
  border-radius: 12px;
  box-shadow: 0px 5px 20.5px -4px var(--Grayish-blue);
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 20%;
}

.qr__code {
  border-radius: 12px;
  margin: 10px 0;
  width: 100%;
}

.attribution {
  margin: 20px auto;
}

/* Media Querres  */
@media (max-width: 1440px) {
  .container {
    max-width: 25%;
  }
}
@media (max-width: 700px) {
  .container {
    max-width: 50%;
  }
}

